{% extends '/base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">Email Forwarders</h4>
                    <p>Your email aliases and their destination.</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for item in results %}

                            <tr>
                                <th scope="row">{{ item.id }}</th>
                                <td><a href="#?id={{ item.id }}">{{ item.email }}</a></td>
                                <td class="text-right">
                                    <a class="btn btn-outline-primary" href="#?id={{ item.id }}"><span class="ti-eye"></span> </a>
                                    <a class="btn btn-outline-secondary" href="#?id={{ item.id }}"><span class="ti-pencil"></span> </a>
                                    <a class="btn btn-outline-danger" href="#?id={{ item.id }}"><span class="ti-trash"></span> </a>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(results) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}