{% extends '/base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">Email domains</h4>
                    <p>Your list of domain names with mail boxes you can manage under Forward Message.</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Domain name</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for item in results %}

                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td><a href="#?id={{ item.id }}">{{ item.name }}</a></td>
                            <td class="text-right">
                                <a class="btn cur-p btn-outline-primary" href="#"><span class="ti-email"></span> <strong>{{ item.num_mailbox }}</strong> mailboxes</a>
                                <a class="btn cur-p btn-outline-primary" href="#"><span class="fa fa-forward"></span> <strong>{{ item.num_alias }}</strong> forwarders</a>
                            </td>
                        </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(results) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}